html, body {
    margin: 0;
    height: 100%;
}

.doc {
  height: auto;
}

.nopadding {
   padding: 0 !important;
   margin: 0 !important;
}

.activity-item {
    border-radius: 0px;
    background: #ccc;
    padding: 20px;
    height: 150px;
    border: 10px solid #ffffff;

}

.artist-name {
   position: absolute;
   top: 200px;
   left: 0;
   width: 100%;
}

.artist-photo-text {
   position: absolute;
   top: 0px;
   color: #fff;
   left: 40px;
   font-size: 8em;
   text-shadow: 2px 4px 3px rgba(0,0,0,0.3);
}

.right-sidebar {
  height: 200px;
  background: #ccc;
  padding: 20px;
  border: 10px solid #ffffff;
}

.bgimage {
  width: 100%;
}

.search-container {
  position: relative;
}

.search-bar {
  position: absolute;
  top: 30%;
  left: 40%;

}
